.titulo-principal {
  background-color: green;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 15px 10px black;
}

.titulo-secundario {
  color: green;
  margin: 0;
  padding: 60px;
  font-size: 37px;
}

.produtos-mais-vendidos {
  color: black;
  font-weight: bolder;
  font-size: 30px;
  list-style-type: none;
}
